Repository juniorsundar/oxmpl: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, check, eslint, prettier

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        description: Format Rust files using rustfmt.
        entry: cargo
        args: ['fmt', '--all']
        language: rust
        types: [rust]
        pass_filenames: false

    -   id: clippy
        name: clippy
        description: Check for lints using clippy.
        entry: cargo
        args: ['clippy', '--workspace', '--', '-D', 'warnings']
        language: rust
        types: [rust]
        pass_filenames: false

    -   id: check
        name: cargo-check
        description: Check the package for errors with cargo check.
        entry: cargo
        args: ['check', '--workspace']
        language: rust
        types: [rust]
        pass_filenames: false

    -   id: eslint
        name: eslint
        description: Run ESLint on JavaScript files.
        entry: bash
        args: ['-c', 'cd oxmpl-js && npm run lint']
        language: system
        files: oxmpl-js/.*\.(js|mjs|cjs)$
        exclude: oxmpl-js/(node_modules|pkg-bundler)/
        pass_filenames: false

    -   id: prettier
        name: prettier
        description: Format JavaScript files with Prettier.
        entry: bash
        args: ['-c', 'cd oxmpl-js && npm run format']
        language: system
        files: oxmpl-js/.*\.(js|mjs|cjs|json)$
        exclude: oxmpl-js/(node_modules|pkg-bundler|package-lock\.json)
        pass_filenames: false

Establish planning bounds
  .gitignore
  .pi/personas/project-manager.md
  .pi/personas/senior-engineer.md
  .serena/.gitignore
  .serena/memories/conventions.md
  .serena/memories/core.md
  .serena/memories/memory_maintenance.md
  .serena/memories/pm_tasknotes_workflow.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  .serena/memories/tech_stack.md
  .serena/project.yml
  AGENTS.md
  CONTEXT.md
  docs/BACKLOG.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
  docs/planning/adr/0001-pre-1.0-versioning-policy.md
  docs/planning/adr/0002-two-tier-state-traits.md
Due: none

fix(planners): Restoring `rng` after planner completes
  oxmpl/src/geometric/planners/prm.rs
  oxmpl/src/geometric/planners/rrt.rs
  oxmpl/src/geometric/planners/rrt_connect.rs
  oxmpl/src/geometric/planners/rrt_star.rs
  oxmpl/tests/seeded_rng_tests.rs
Due: rustfmt, clippy, check

test(planners): Additional coverage for other planner failure paths
  oxmpl/src/geometric/planners/prm.rs
  oxmpl/src/geometric/planners/rrt.rs
  oxmpl/src/geometric/planners/rrt_connect.rs
  oxmpl/src/geometric/planners/rrt_star.rs
  oxmpl/tests/prm_rvss_tests.rs
  oxmpl/tests/rrt_connect_rvss_tests.rs
  oxmpl/tests/rrt_star_rvss_tests.rs
Due: rustfmt, clippy, check

test(bindings): Covering the exceptions on planner fail with sampling error
  oxmpl-js/tests/test_sampling_errors.test.js
  oxmpl-py/tests/test_sampling_errors.py
Due: eslint, prettier

docs(todo): Need to forward errors/exceptions properly in bindings side later
  docs/src/js_api.md
  docs/src/python_api.md
Due: none

fix: Remove `println!` in library code and use `log` crate
  Cargo.lock
  oxmpl/Cargo.toml
  oxmpl/src/geometric/planners/prm.rs
  oxmpl/src/geometric/planners/rrt.rs
  oxmpl/src/geometric/planners/rrt_connect.rs
  oxmpl/src/geometric/planners/rrt_star.rs
Due: rustfmt, clippy, check

fix(planners): PlanningError::Sampling(...) now catches sampling errors in planner
  oxmpl/src/base/error.rs
  oxmpl/src/geometric/planners/prm.rs
  oxmpl/src/geometric/planners/rrt.rs
  oxmpl/src/geometric/planners/rrt_connect.rs
  oxmpl/src/geometric/planners/rrt_star.rs
Due: rustfmt, clippy, check

temp: Patch to allow tests to pass temporarily
  oxmpl-js/tests/test_prm_compound.test.js
  oxmpl-py/tests/test_prm_so3ss.py
Due: eslint, prettier

test: Add timeout termination error in integration test
  oxmpl/src/geometric/planners/rrt.rs
  oxmpl/tests/rrt_rvss_tests.rs
Due: rustfmt, clippy, check

deploy: 8149abe4a41ff6f0061600e2a3e584da23a3377f
  404.html
  concepts.html
  contributing/contributors.html
  contributing/implementing_planners.html
  contributing/implementing_state_spaces.html
  contributing/index.html
  examples/compound_javascript.html
  examples/compound_python.html
  examples/compound_rust.html
  examples/simple_2d_javascript.html
  examples/simple_2d_python.html
  examples/simple_2d_rust.html
  guides/goals.html
  guides/validity_checkers.html
  index.html
  installation.html
  introduction.html
  js_api.html
  print.html
  python_api.html
  rationale.html
  searcher-09f2665d.js
  searchindex-7c08850b.js
  searchindex-912dfe6c.js
Due: none

chore(main): release 0.7.0
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
Due: none

fix(ci): `oxmpl-js/Cargo.toml` corrected repo URL format
  Cargo.lock
  oxmpl-js/Cargo.toml
Due: none

chore(main): release 0.7.1
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
Due: none

build(deps)!: upgrade oxmpl-py to PyO3 0.29 and maturin 1.15, raising the Python floor to 3.11
  Cargo.lock
  oxmpl-py/Cargo.toml
  oxmpl-py/pyproject.toml
  oxmpl-py/src/base/compound_state.rs
  oxmpl-py/src/base/compound_state_space.rs
  oxmpl-py/src/base/goal.rs
  oxmpl-py/src/base/path.rs
  oxmpl-py/src/base/problem_definition.rs
  oxmpl-py/src/base/py_state_convert.rs
  oxmpl-py/src/base/real_vector_state.rs
  oxmpl-py/src/base/real_vector_state_space.rs
  oxmpl-py/src/base/se2_state.rs
  oxmpl-py/src/base/se2_state_space.rs
  oxmpl-py/src/base/se3_state.rs
  oxmpl-py/src/base/se3_state_space.rs
  oxmpl-py/src/base/so2_state.rs
  oxmpl-py/src/base/so2_state_space.rs
  oxmpl-py/src/base/so3_state.rs
  oxmpl-py/src/base/so3_state_space.rs
  oxmpl-py/src/base/state_validity_checker.rs
  oxmpl-py/src/geometric/mod.rs
  oxmpl-py/src/geometric/prm.rs
  oxmpl-py/src/geometric/rrt.rs
  oxmpl-py/src/geometric/rrt_connect.rs
  oxmpl-py/src/geometric/rrt_star.rs
  oxmpl-py/src/lib.rs
  requirements.txt
Due: rustfmt, clippy, check

Establish planning bounds
  .gitignore
  .pi/personas/project-manager.md
  .pi/personas/senior-engineer.md
  .serena/.gitignore
  .serena/memories/conventions.md
  .serena/memories/core.md
  .serena/memories/memory_maintenance.md
  .serena/memories/pm_tasknotes_workflow.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  .serena/memories/tech_stack.md
  .serena/project.yml
  AGENTS.md
  CONTEXT.md
  docs/BACKLOG.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
  docs/planning/adr/0001-pre-1.0-versioning-policy.md
  docs/planning/adr/0002-two-tier-state-traits.md
  docs/planning/adr/0003-motion-validation.md
Due: none
