Repository rossng/oxmpl: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, check, eslint, prettier

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        description: Format Rust files using rustfmt.
        # This hook should be 'entry: cargo' and 'args: [...]' too
        entry: cargo
        args: ['fmt', '--', '--check']
        language: rust
        types: [rust]

    -   id: clippy
        name: clippy
        description: Check for lints using clippy.
        # Ensure 'entry' is ONLY 'cargo'
        entry: cargo
        # Ensure the command is in 'args'
        args: ['clippy', '--workspace', '--', '-D', 'warnings']
        language: rust
        types: [rust]
        pass_filenames: false

    -   id: check
        name: cargo-check
        description: Check the package for errors with cargo check.
        # Ensure 'entry' is ONLY 'cargo'
        entry: cargo
        # Ensure the command is in 'args'
        args: ['check', '--workspace']
        language: rust
        types: [rust]
        pass_filenames: false

    -   id: eslint
        name: eslint
        description: Run ESLint on JavaScript files.
        entry: bash
        args: ['-c', 'cd oxmpl-js && npm run lint']
        language: system
        files: oxmpl-js/.*\.(js|mjs|cjs)$
        exclude: oxmpl-js/(node_modules|pkg-bundler)/
        pass_filenames: false

    -   id: prettier
        name: prettier
        description: Format JavaScript files with Prettier.
        entry: bash
        args: ['-c', 'cd oxmpl-js && npm run format']
        language: system
        files: oxmpl-js/.*\.(js|mjs|cjs|json)$
        exclude: oxmpl-js/(node_modules|pkg-bundler|package-lock\.json)
        pass_filenames: false

feat: add `oxmpl-js` crate with JS/WASM bindings
  Cargo.lock
  Cargo.toml
  oxmpl-js/.gitignore
  oxmpl-js/.prettierignore
  oxmpl-js/.prettierrc.json
  oxmpl-js/Cargo.toml
  oxmpl-js/eslint.config.js
  oxmpl-js/examples/simple_2d_planning.js
  oxmpl-js/package-lock.json
  oxmpl-js/package.json
  oxmpl-js/src/lib.rs
  oxmpl-js/tests/test_prm_integration.test.js
  oxmpl-js/tests/test_rrt_connect_integration.test.js
  oxmpl-js/tests/test_rrt_integration.test.js
  oxmpl-js/tests/test_rrt_star_integration.test.js
  oxmpl-js/vitest.config.js
Due: rustfmt, clippy, check, eslint, prettier

ci: add js.yml workflow
  .github/workflows/js.yml
Due: none

doc: update READMEs for oxmpl-js
  README.md
  oxmpl-js/README.md
Due: none

feat: allow targeting wasm for `oxmpl` crate
  .cargo/config.toml
  Cargo.lock
  oxmpl/Cargo.toml
  oxmpl/src/geometric/planners/prm.rs
  oxmpl/src/geometric/planners/rrt.rs
  oxmpl/src/geometric/planners/rrt_connect.rs
  oxmpl/src/geometric/planners/rrt_star.rs
  oxmpl/src/lib.rs
  oxmpl/src/time.rs
Due: rustfmt, clippy, check

ci: pre-commit hooks (add Prettier, ESLint, fix Rust); update nix devshell
  .gitignore
  .pre-commit-config.yaml
  flake.nix
Due: none

ci: test new release-please config
  .release-please-manifest.json
  Cargo.toml
  oxmpl-js/Cargo.toml
  oxmpl-py/Cargo.toml
  oxmpl/Cargo.toml
  release-please-config.json
Due: none

chore(main): release 0.4.0
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
Due: none

refactor: Python `base` package modularity
  oxmpl-py/src/base.rs
  oxmpl-py/src/base/goal.rs
  oxmpl-py/src/base/mod.rs
  oxmpl-py/src/base/path.rs
  oxmpl-py/src/base/problem_definition.rs
  oxmpl-py/src/base/real_vector_state.rs
  oxmpl-py/src/base/real_vector_state_space.rs
  oxmpl-py/src/base/so2_state.rs
  oxmpl-py/src/base/so2_state_space.rs
  oxmpl-py/src/base/state_validity_checker.rs
  oxmpl-py/src/geometric.rs
  oxmpl-py/src/lib.rs
  oxmpl-py/src/macros.rs
  oxmpl/src/base/spaces/real_vector_state_space.rs
  oxmpl/src/base/spaces/so2_state_space.rs
  oxmpl/src/base/state.rs
  oxmpl/src/base/states/mod.rs
  oxmpl/src/base/states/real_vector_state.rs
Due: rustfmt, clippy, check

feat: Implement SO2StateSpace in Rust w/ Integration tests
  oxmpl/src/base/spaces/so2_state_space.rs
  oxmpl/tests/prm_rvss_tests.rs
  oxmpl/tests/prm_so2ss_tests.rs
  oxmpl/tests/rrt_connect_rvss_tests.rs
  oxmpl/tests/rrt_connect_so2ss_tests.rs
  oxmpl/tests/rrt_rvss_tests.rs
  oxmpl/tests/rrt_so2ss_tests.rs
  oxmpl/tests/rrt_star_rvss_tests.rs
  oxmpl/tests/rrt_star_so2ss_tests.rs
Due: rustfmt, clippy, check

refactor(oxmpl-py)!: Changed how ProblemDefinition is instantiated to account for multiple State types
  oxmpl-py/src/base/goal.rs
  oxmpl-py/src/base/mod.rs
  oxmpl-py/src/base/problem_definition.rs
  oxmpl-py/src/base/py_state_convert.rs
  oxmpl-py/src/base/so2_state.rs
  oxmpl-py/src/geometric.rs
  oxmpl-py/src/macros.rs
  oxmpl-py/tests/test_prm_integration.py
  oxmpl-py/tests/test_rrt_connect_integration.py
  oxmpl-py/tests/test_rrt_integration.py
  oxmpl-py/tests/test_rrt_star_integration.py
Due: rustfmt, clippy, check

refactor(oxmpl-py)!: Python bindings for Planners modularised
  README.md
  oxmpl-py/src/base/goal.rs
  oxmpl-py/src/base/path.rs
  oxmpl-py/src/base/py_state_convert.rs
  oxmpl-py/src/base/real_vector_state.rs
  oxmpl-py/src/base/real_vector_state_space.rs
  oxmpl-py/src/base/so2_state.rs
  oxmpl-py/src/base/so2_state_space.rs
  oxmpl-py/src/base/state_validity_checker.rs
  oxmpl-py/src/geometric.rs
  oxmpl-py/src/geometric/mod.rs
  oxmpl-py/src/geometric/prm.rs
  oxmpl-py/src/geometric/rrt.rs
  oxmpl-py/src/geometric/rrt_connect.rs
  oxmpl-py/src/geometric/rrt_star.rs
  oxmpl-py/src/lib.rs
  oxmpl-py/tests/test_prm_rvss.py
  oxmpl-py/tests/test_prm_so2.py
  oxmpl-py/tests/test_rrt_connect_rvss.py
  oxmpl-py/tests/test_rrt_connect_so2.py
  oxmpl-py/tests/test_rrt_rvss.py
  oxmpl-py/tests/test_rrt_so2.py
  oxmpl-py/tests/test_rrt_star_rvss.py
  oxmpl-py/tests/test_rrt_star_so2.py
Due: rustfmt, clippy, check

chore: Formatting
  oxmpl-py/src/base/mod.rs
  oxmpl-py/src/base/path.rs
  oxmpl-py/src/geometric/rrt_connect.rs
  oxmpl-py/src/geometric/rrt_star.rs
  oxmpl/src/base/spaces/so2_state_space.rs
  oxmpl/src/base/states/real_vector_state.rs
  oxmpl/tests/prm_so2ss_tests.rs
  oxmpl/tests/rrt_connect_so2ss_tests.rs
  oxmpl/tests/rrt_so2ss_tests.rs
  oxmpl/tests/rrt_star_so2ss_tests.rs
Due: rustfmt, clippy, check

doc: Update for `oxmpl-py` example
  README.md
Due: none

ci: add publish job to JS/WASM workflow
  .github/workflows/js.yml
Due: none

ci: configure release-please to bump the crate versions
  .release-please-manifest.json
  Cargo.toml
  oxmpl-js/Cargo.toml
  oxmpl-py/Cargo.toml
  oxmpl/Cargo.toml
  release-please-config.json
Due: none

chore: Updating project details
  Cargo.lock
  Cargo.toml
  README.md
  docs/BACKLOG.md
  oxmpl-js/Cargo.toml
Due: none

ci: Publish `oxmpl-js` to crates.io
  .github/workflows/rust.yml
  README.md
Due: none

chore(main): release 0.4.1
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
Due: none

feat: Implement SO3StateSpace in Rust w/ Integration tests
  Cargo.lock
  oxmpl/src/base/error.rs
  oxmpl/src/base/space.rs
  oxmpl/src/base/spaces/mod.rs
  oxmpl/src/base/spaces/so2_state_space.rs
  oxmpl/src/base/spaces/so3_state_space.rs
  oxmpl/src/base/state.rs
  oxmpl/src/base/states/mod.rs
  oxmpl/src/base/states/so3_state.rs
  oxmpl/tests/prm_so2ss_tests.rs
  oxmpl/tests/prm_so3ss_tests.rs
  oxmpl/tests/rrt_connect_rvss_tests.rs
  oxmpl/tests/rrt_connect_so3ss_tests.rs
  oxmpl/tests/rrt_rvss_tests.rs
  oxmpl/tests/rrt_so3ss_tests.rs
  oxmpl/tests/rrt_star_so3ss_tests.rs
Due: rustfmt, clippy, check

chore: Update BACKLOG.md
  docs/BACKLOG.md
Due: none

feat: Added SO3State/SO3StateSpace Python Bindings
  oxmpl-py/src/base/mod.rs
  oxmpl-py/src/base/path.rs
  oxmpl-py/src/base/problem_definition.rs
  oxmpl-py/src/base/py_state_convert.rs
  oxmpl-py/src/base/so3_state.rs
  oxmpl-py/src/base/so3_state_space.rs
  oxmpl-py/src/base/state_validity_checker.rs
  oxmpl-py/src/geometric/prm.rs
  oxmpl-py/src/geometric/rrt.rs
  oxmpl-py/src/geometric/rrt_connect.rs
  oxmpl-py/src/geometric/rrt_star.rs
  oxmpl-py/tests/test_prm_so2ss.py
  oxmpl-py/tests/test_prm_so3ss.py
  oxmpl-py/tests/test_rrt_connect_rvss.py
  oxmpl-py/tests/test_rrt_connect_so2ss.py
  oxmpl-py/tests/test_rrt_connect_so3ss.py
  oxmpl-py/tests/test_rrt_rvss.py
  oxmpl-py/tests/test_rrt_so2ss.py
  oxmpl-py/tests/test_rrt_so3ss.py
  oxmpl-py/tests/test_rrt_star_rvss.py
  oxmpl-py/tests/test_rrt_star_so2ss.py
  oxmpl-py/tests/test_rrt_star_so3ss.py
  requirements.txt
Due: rustfmt, clippy, check
