Repository juniorsundar/oxmpl: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, check, eslint, prettier

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        description: Format Rust files using rustfmt.
        entry: cargo
        args: ['fmt', '--all']
        language: rust
        types: [rust]
        pass_filenames: false

    -   id: clippy
        name: clippy
        description: Check for lints using clippy.
        entry: cargo
        args: ['clippy', '--workspace', '--', '-D', 'warnings']
        language: rust
        types: [rust]
        pass_filenames: false

    -   id: check
        name: cargo-check
        description: Check the package for errors with cargo check.
        entry: cargo
        args: ['check', '--workspace']
        language: rust
        types: [rust]
        pass_filenames: false

    -   id: eslint
        name: eslint
        description: Run ESLint on JavaScript files.
        entry: bash
        args: ['-c', 'cd oxmpl-js && npm run lint']
        language: system
        files: oxmpl-js/.*\.(js|mjs|cjs)$
        exclude: oxmpl-js/(node_modules|pkg-bundler)/
        pass_filenames: false

    -   id: prettier
        name: prettier
        description: Format JavaScript files with Prettier.
        entry: bash
        args: ['-c', 'cd oxmpl-js && npm run format']
        language: system
        files: oxmpl-js/.*\.(js|mjs|cjs|json)$
        exclude: oxmpl-js/(node_modules|pkg-bundler|package-lock\.json)
        pass_filenames: false

doc: Migrate to `mdBook` documentation
  .github/workflows/docs.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  docs/Cargo.toml
  docs/book.toml
  docs/main.rs
  docs/src/SUMMARY.md
  docs/src/concepts.md
  docs/src/installation.md
  docs/src/introduction.md
  docs/src/js_api.md
  docs/src/python_api.md
  docs/src/quickstart/javascript.md
  docs/src/quickstart/python.md
  docs/src/quickstart/rust.md
  docs/src/rationale.md
  docs/theme/head.hbs
  flake.nix
  oxmpl-js/README.md
  oxmpl-py/README.md
  oxmpl-py/pyproject.toml
Due: rustfmt, clippy, check

chore(main): release 0.6.0
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
Due: none

doc: Added contributors.md to docs
  README.md
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/contributors.md
Due: none

chore: Pointing Python README to new in work-dir
  oxmpl-py/Cargo.toml
Due: none

ci: Migrate NPM CI for Granular Tokens
  .github/workflows/js.yml
  Cargo.lock
  oxmpl-js/Cargo.toml
Due: none

chore(main): release 0.6.0
  CHANGELOG.md
Due: none

ci: Migrate NPM CI for Granular Tokens
  Cargo.lock
  oxmpl-js/Cargo.toml
Due: none

ci(js.yml): Update to use the OpenIDC
  .github/workflows/js.yml
Due: none

chore: JS/WASM package points to local README.md
  oxmpl-js/Cargo.toml
Due: none

docs: Write up contribution guide
  docs/src/SUMMARY.md
  docs/src/concepts.md
  docs/src/contributing/contributors.md
  docs/src/contributing/implementing_planners.md
  docs/src/contributing/implementing_state_spaces.md
  docs/src/contributing/index.md
  docs/src/examples/compound_javascript.md
  docs/src/examples/compound_python.md
  docs/src/examples/compound_rust.md
  docs/src/examples/simple_2d_javascript.md
  docs/src/examples/simple_2d_python.md
  docs/src/examples/simple_2d_rust.md
  docs/src/guides/goals.md
  docs/src/guides/validity_checkers.md
  docs/src/installation.md
  docs/src/introduction.md
  docs/src/js_api.md
  docs/src/python_api.md
  docs/src/quickstart/javascript.md
  docs/src/rationale.md
  oxmpl-js/examples/compound_state_planning.js
  oxmpl-js/examples/simple_2d_planning.js
  oxmpl-py/examples/compound_state_planning.py
  oxmpl-py/examples/simple_2d_planning.py
  oxmpl/examples/compound_state_planning.rs
  oxmpl/examples/simple_2d_planning.rs
  oxmpl/src/base/error.rs
Due: rustfmt, clippy, check, eslint, prettier

dev: Use Justfile for easier build/test/run
  Justfile
  flake.nix
Due: none

chore: Silence linter error
  oxmpl/examples/compound_state_planning.rs
Due: rustfmt, clippy, check

deploy: e111cc674a2e9da9af7298fb54e204b7fe2a9d5b
  404.html
  concepts.html
  contributing/contributors.html
  contributing/implementing_planners.html
  contributing/implementing_state_spaces.html
  contributing/index.html
  examples/compound_javascript.html
  examples/compound_python.html
  examples/compound_rust.html
  examples/simple_2d_javascript.html
  examples/simple_2d_python.html
  examples/simple_2d_rust.html
  guides/goals.html
  guides/validity_checkers.html
  index.html
  installation.html
  introduction.html
  js_api.html
  print.html
  rationale.html
  searcher-c2a407aa.js
  searchindex-42d4528e.js
  searchindex-fdf3f3cd.js
  toc-58cf20b0.js
  toc.html
Due: none

chore(main): release 0.6.1
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
Due: none

feat!(base): introduce AnyState trait for compound state dynamic dispatch
  .gitignore
  oxmpl-js/src/base/compound_state.rs
  oxmpl-js/src/base/js_state_convert.rs
  oxmpl-py/src/base/compound_state.rs
  oxmpl/src/base/state.rs
  oxmpl/src/base/states/any_state.rs
  oxmpl/src/base/states/mod.rs
Due: rustfmt, clippy, check

refactor(base): simplify State trait from `DynClone+Any` to lightweight marker
  oxmpl/src/base/space.rs
  oxmpl/src/base/spaces/any_state_space.rs
  oxmpl/src/base/states/compound_state.rs
  oxmpl/src/base/states/real_vector_state.rs
  oxmpl/src/base/states/se2_state.rs
  oxmpl/src/base/states/se3_state.rs
  oxmpl/src/base/states/so2_state.rs
  oxmpl/src/base/states/so3_state.rs
Due: rustfmt, clippy, check

refactor(state): remove AnyState impl from SE2State and SE3State
  oxmpl/src/base/states/any_state.rs
  oxmpl/src/base/states/se2_state.rs
  oxmpl/src/base/states/se3_state.rs
Due: rustfmt, clippy, check

fix(se2): split fixed typed SE2 from compound-state bindings
  docs/src/js_api.md
  docs/src/python_api.md
  oxmpl-js/src/base/compound_state.rs
  oxmpl-js/src/base/compound_state_space.rs
  oxmpl-js/src/base/js_state_convert.rs
  oxmpl-js/tests/test_compound_boundaries.test.js
  oxmpl-py/src/base/compound_state.rs
  oxmpl-py/src/base/compound_state_space.rs
  oxmpl-py/tests/test_compound_boundaries.py
  oxmpl/src/base/spaces/se2_state_space.rs
  oxmpl/src/base/states/any_state.rs
  oxmpl/src/base/states/se2_state.rs
Due: rustfmt, clippy, check, eslint, prettier

refactor(se3): convert SE3State/SE3StateSpace from CompoundState wrappers to direct typed structs
  oxmpl/src/base/spaces/se3_state_space.rs
  oxmpl/src/base/states/se3_state.rs
Due: rustfmt, clippy, check

docs: Update after refactor for SE2/3
  docs/src/concepts.md
  docs/src/contributing/implementing_state_spaces.md
  docs/src/examples/compound_javascript.md
  docs/src/examples/compound_python.md
  docs/src/examples/compound_rust.md
  docs/src/js_api.md
  docs/src/python_api.md
Due: none

deploy: d76a7126dafed4e68b971a069d31468072650672
  404.html
  book-c22b7243.js
  concepts.html
  contributing/contributors.html
  contributing/implementing_planners.html
  contributing/implementing_state_spaces.html
  contributing/index.html
  css/chrome-fc474251.css
  css/general-0392ca55.css
  examples/compound_javascript.html
  examples/compound_python.html
  examples/compound_rust.html
  examples/simple_2d_javascript.html
  examples/simple_2d_python.html
  examples/simple_2d_rust.html
  guides/goals.html
  guides/validity_checkers.html
  index.html
  installation.html
  introduction.html
  js_api.html
  print.html
  python_api.html
  rationale.html
  searcher-09f2665d.js
  searchindex-adef59bf.js
  searchindex-fdf3f3cd.js
  toc-62ebb65a.js
  toc.html
Due: none

feat(base)!: introduce AnyState trait for compound state dynamic dispatch
  .gitignore
  oxmpl-js/src/base/compound_state.rs
  oxmpl-js/src/base/js_state_convert.rs
  oxmpl-py/src/base/compound_state.rs
  oxmpl/src/base/state.rs
  oxmpl/src/base/states/any_state.rs
  oxmpl/src/base/states/mod.rs
Due: rustfmt, clippy, check

chore(main): release 1.0.0
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
Due: none

chore: Fix release please version bumping strategy
  release-please-config.json
Due: none

deploy: e52e10f5cd7c3efcfc4837b89260880f842c9e66
  404.html
  book-609e4cb8.js
  concepts.html
  contributing/contributors.html
  contributing/implementing_planners.html
  contributing/implementing_state_spaces.html
  contributing/index.html
  css/chrome-d279d366.css
  css/general-e96d0476.css
  examples/compound_javascript.html
  examples/compound_python.html
  examples/compound_rust.html
  examples/simple_2d_javascript.html
  examples/simple_2d_python.html
  examples/simple_2d_rust.html
  guides/goals.html
  guides/validity_checkers.html
  index.html
  installation.html
  introduction.html
  js_api.html
  print.html
  python_api.html
  rationale.html
  searcher-09f2665d.js
  searchindex-912dfe6c.js
  searchindex-adef59bf.js
  toc.html
Due: none

chore(main): release 0.7.0
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
Due: none

fix: Remove `println!` in library code and use `log` crate
  Cargo.lock
  oxmpl/Cargo.toml
  oxmpl/src/geometric/planners/prm.rs
  oxmpl/src/geometric/planners/rrt.rs
  oxmpl/src/geometric/planners/rrt_connect.rs
  oxmpl/src/geometric/planners/rrt_star.rs
Due: rustfmt, clippy, check

temp: Patch to allow tests to pass temporarily
  oxmpl-js/tests/test_prm_compound.test.js
  oxmpl-py/tests/test_prm_so3ss.py
Due: eslint, prettier

test: Add timeout termination error in integration test
  oxmpl/src/geometric/planners/rrt.rs
  oxmpl/tests/rrt_rvss_tests.rs
Due: rustfmt, clippy, check

fix(planners): PlanningError::Sampling(...) now catches sampling errors in planner
  oxmpl/src/base/error.rs
  oxmpl/src/geometric/planners/prm.rs
  oxmpl/src/geometric/planners/rrt.rs
  oxmpl/src/geometric/planners/rrt_connect.rs
  oxmpl/src/geometric/planners/rrt_star.rs
Due: rustfmt, clippy, check
